    <div id="math"> 
        <img class="background" src="/images/math-2.jpg" >
        <a href="/new">Math</a>
    </div>

    <div id="science">
    <img class="picture" src="/images/Different-Divisions-of-Science-1.png">
    <a href="/new">Science</a>
    </div>

    <div id="engineering">
    <img class="awesomeness" src="/images/Dead-Space-2-PS3.jpg">
    <a href="/new">Engineering</a>
    </div>