<div class="Subjects">
    <form action="/know" method="POST">
        <a class="btn" href="/new"></a>
        <div><label for="name">topic</label>
            <input type="text" name="name" id="topic"></div>
        <div><label for="name">link</label>
        <input type="text" name="link" id="link"></div>
        <button type="submit">Submit</button>
    </form>
</div>